/*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,300&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/*Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/*Lora*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

/*Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  --text-menu: 'Lora', serif;
  --text-h1: 'Merriweather Sans', sans-serif;
  --text-name: 'Ubuntu', sans-serif;
  --text-header: 'Ubuntu', sans-serif;
  --text-primary: 'Nunito', sans-serif;
  --text-button: 'Roboto', sans-serif;
  --font-size-html: 62.5%;
  --font-size-body: 1.6rem;
  --font-size-pagetitle: clamp(2.5rem, 3vw + 0.1rem, 5rem);
  --font-size-link: clamp(1.2rem, 3vw + 0.1rem, 2rem);
  --font-size-banner-h1: clamp(2.5rem, 3vw + 0.1rem, 5rem);
  --font-size-banner-p: clamp(2rem, 2vw + 0.1rem, 3.5rem);
  --font-size-btn: clamp(1.5rem, 1.5vw + 0.1rem, 2.5rem);
  --font-size-card-title: clamp(1.6rem, 2vw + 0.1rem, 2.6rem);
  --font-size-card-text: clamp(1rem, 1vw + 0.1rem, 1.8rem);
  --font-size-card-btn: clamp(0.9rem, 1vw + 0.1rem, 1.5rem);
  --font-size-card-info-title: clamp(1.6rem, 2vw + 0.1rem, 2rem);
  --color-sessao-tecnologia-title: rgb(0, 0, 0);
  --color-sessao-projetos-title: rgb(255, 255, 255);
  --color-nav-link: rgb(255, 255, 255);
  --color-nav-link-hover: rgb(30, 119, 160);
  --color-banner: rgb(255, 255, 255);
  --color-banner-btn: rgb(255, 255, 255);
  --color-card-tec: rgb(0, 0, 0);
  --color-card-tec-hover: rgb(255, 255, 255);
  --color-card-tec-simbolo: #1F95FD;
  --color-card-tec-simbolo-hover: rgb(255, 255, 255); 
  --color-card-projetos: rgb(255, 255, 255);
  --background-color-btn-banner: linear-gradient(225deg,#FFAF00 0%,#FE4D1B 48.15%,#E70154 100%);
  --background-color-btn-projetos: linear-gradient(29.83deg,#1F95FD 0%,#4FE8E4 100%);
  --background-color-sessao-tecnologias: #f9fbfc;
  --background-color-card-tec: rgb#f9fbfc;
  --background-color-card-tec-hover: linear-gradient(30deg, #34bbff 0, #28eedb 100%);
  --background-color-sessao-projetos: rgb(37, 37, 37);
  --background-color-card-projetos: #444444;
  --background-color-card-projetos-info: rgb(37, 37, 37,0.9);
  --box-shadow-card-tec: 10px 10px 25px 1px #C0C5CE;
  --box-shadow-card-tec-hover: 10px 10px 25px 1px #90d0f0;
  --box-shadow-card-projetos: 4px 4px 15px 1px #C0C5CE;
  --box-shadow-card-projetos-hover: 0 0 8px #34bbff;
  --border-radius: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: var(--font-size-html);
}

body {
  font-size: var(--font-size-body);
  font-family: var(--text-primary);
  color: white;
}

.sessao-inicio {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(0, auto) 1fr;
}

.header {
  background-color: red;
  grid-area: header;
}

.main {
  background-color: blue;
  grid-area: main;
}

.footer {
  background-color: green;
  grid-area: footer;
}

@media screen and (min-width: 1500px) {
  .sessao-inicio {
    grid-template-areas: "header header header"
                          ".     main   ."
                          "footer footer footer";
    grid-template-columns: 1fr 120rem 1fr;
    grid-template-rows: 1fr minmax(0, auto) 1fr;
  }

  .main {
    background-color:rgb(0, 0, 0);
  }
}