/*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,300&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/*Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/*Lora*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

/*Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  --max-width: 1200px;
  --text-menu: 'Lora', serif;
  --text-h1: 'Merriweather Sans', sans-serif;
  --text-name: 'Ubuntu', sans-serif;
  --text-header: 'Ubuntu', sans-serif;
  --text-primary: 'Nunito', sans-serif;
  --text-button: 'Roboto', sans-serif;
  --font-size-html: 62.5%;
  --font-size-body: 1.6rem;
  --font-size-pagetitle: clamp(2.5rem, 3vw + 0.1rem, 5rem);
  --font-size-link: clamp(1.2rem, 2.5vw + 0.1rem, 2rem);
  --font-size-banner-h1: clamp(2.5rem, 3vw + 0.1rem, 5rem);
  --font-size-banner-p: clamp(2rem, 2vw + 0.1rem, 3.5rem);
  --font-size-btn: clamp(1.5rem, 1.5vw + 0.1rem, 2.5rem);
  --font-size-card-title: clamp(1.6rem, 2vw + 0.1rem, 2.6rem);
  --font-size-card-text: clamp(1rem, 1vw + 0.1rem, 1.8rem);
  --font-size-card-btn: clamp(0.9rem, 1vw + 0.1rem, 1.5rem);
  --font-size-card-info-title: clamp(1.6rem, 2vw + 0.1rem, 2rem);
  --color-sessao-tecnologia-title: rgb(0, 0, 0);
  --color-sessao-projetos-title: rgb(255, 255, 255);
  --color-nav-link: rgb(255, 255, 255);
  --color-nav-link-hover: rgb(30, 119, 160);
  --color-banner: rgb(255, 255, 255);
  --color-banner-btn: rgb(255, 255, 255);
  --color-card-tec: rgb(0, 0, 0);
  --color-card-tec-hover: rgb(255, 255, 255);
  --color-card-tec-simbolo: #1F95FD;
  --color-card-tec-simbolo-hover: rgb(255, 255, 255); 
  --color-card-projetos: rgb(255, 255, 255);
  --background-color-btn-banner: linear-gradient(225deg,#FFAF00 0%,#FE4D1B 48.15%,#E70154 100%);
  --background-color-btn-projetos: linear-gradient(29.83deg,#1F95FD 0%,#4FE8E4 100%);
  --background-color-sessao-tecnologias: #f9fbfc;
  --background-color-card-tec: rgb#f9fbfc;
  --background-color-card-tec-hover: linear-gradient(30deg, #34bbff 0, #28eedb 100%);
  --background-color-sessao-projetos: rgb(37, 37, 37);
  --background-color-card-projetos: #444444;
  --background-color-card-projetos-info: rgb(37, 37, 37,0.9);
  --box-shadow-card-tec: 10px 10px 25px 1px #C0C5CE;
  --box-shadow-card-tec-hover: 10px 10px 25px 1px #90d0f0;
  --box-shadow-card-projetos: 4px 4px 15px 1px #C0C5CE;
  --box-shadow-card-projetos-hover: 0 0 8px #34bbff;
  --border-radius: 0.8rem;
  --padding-sessao-header: 4rem 1rem 1rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: var(--font-size-html);
}

body {
  font-size: var(--font-size-body);
  font-family: var(--text-primary);
}

.sessao-inicio {
  width: 100%;
  height: 100vh;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: rgba(6, 52, 78, 0.9);*/
  background-color: rgb(26, 26, 26);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1) opacity(0.7);
  animation: expandir 8s;
}

.container-inicio {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;

  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;

  display: flex; /*Display flex para centralizar o container-header, sem isso ao usar no container menos de 100%, ficará deslocado a esquerda*/
  justify-content: center;
  align-items: center;

  padding: 0.8rem;
  border-bottom: 0.4px solid rgb(204, 194, 194);
}

.header .container-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 25px;
  transition: all 0.4s;
}

.header img:hover {
  animation: girar 1.5s;
}

.header nav {
  display: flex;
  gap: 16px;
}

.header nav a {
  color: var(--color-nav-link);
  font-size: var(--font-size-link);
  font-family: var(--text-menu);
}

.header nav a:hover {
  color: var(--color-nav-link-hover);
}

.main {
  grid-area: main;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;

  animation: movimentar 1s forwards;
}

.banner h1 {
  color: var(--color-banner);
  font-size: var(--font-size-banner-h1);
  font-family: var(--text-h1);
  text-shadow: 0.3rem 0.4rem 3px rgba(0, 0, 0, 0.4);
}

.banner p {
  color: var(--color-banner);
  font-size: var(--font-size-banner-p);
  font-family: var(--text-name);
  text-shadow: 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.4);
}

.banner button {
  cursor: pointer;
  padding: 12px 36px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(252,71,31,0.3);
  background: var(--background-color-btn-banner);
  color: var(--color-banner-btn);
  font-size: var(--font-size-btn);
  font-family: var(--text-button);
  letter-spacing: 2px;
  text-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.4);
  transition: box-shadow 2s;
  
}

.banner button:hover {
  /*background: var(--background-color-btn-hover);*/
  box-shadow: 0 2px 4px 0 rgba(252,71,31,0.3), 0 6px 12px 0 rgba(252,71,31,0.3), 0 12px 24px 2px rgba(252,71,31,0.3), 0 12px 24px 4px rgba(252,71,31,0.3);
  animation: botaoPiscar 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.footer {
  grid-area: footer;
  border-top: 0.4px solid rgb(204, 194, 194);
}

.img-bottom {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.img-bottom img {
  height: 35px;
}


/*SESSÃO*/
.sessao {
  width: 100%;
  min-height: 100vh;
}

/*SESSÃO TECNOLOGIAS*/
.sessao-tecnologias {
  display: grid;
  grid-template-areas: "header"
                       "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  background-color: var(--background-color-sessao-tecnologias);
}

.sessao-tecnologias .sessao-header h2 {
  color: var(--color-sessao-tecnologia-title);
}

.sessao-header {
  padding: var(--padding-sessao-header);
}

.sessao-header h2 {
  font-family: var(--text-header);
  font-size: var(--font-size-pagetitle);
  padding-bottom: 1.5rem;
  border-bottom: 0.2rem solid #28eedb;
}

.tecnologias {
  width: 80%;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

.card-tec {
  max-width: 36rem;
  max-height: 18rem;
  padding: 1.2rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color-card-tec);
  color: var(--color-card-tec);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: var(--box-shadow-card-tec);
  transition: all 0.6s;
}

.card-tec:hover {
  color: var(--color-card-tec-hover);
  box-shadow: var(--box-shadow-card-tec-hover);
  background: var(--background-color-card-tec-hover);
  animation: card-move-up 1s;
}

.card-tec > img {
  width: 4.5rem;
}

.card-tec-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
}

.card-tec h3 {
  font-size: var(--font-size-card-title);
  text-transform: uppercase;
}

.card-tec p {
  font-size: var(--font-size-card-text);
  text-align: justify;
}


/*SESSÃO PROJETOS*/
.sessao-projetos {
  display: grid;
  grid-template-areas: "header"
                       "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  background-color: var(--background-color-sessao-projetos);
}

.sessao-projetos .sessao-header h2 {
  color: var(--color-sessao-projetos-title);
}

.projetos {
  width: 80%;
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

.card {
  max-width: 30rem;
  max-height: 20rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card-projetos);
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.06);
  box-shadow: var(--box-shadow-card-projetos-hover);
}

.card:hover img{
  opacity: 0.9;
  filter: blur(0.1rem) grayscale(0.4);
}

.card:hover .card-info {
  visibility: visible;
  opacity: 1;
  background-color: var(--background-color-card-projetos-info);
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  opacity: 1;
}

.card-info {
  width: 100%;
  height: 50%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  text-shadow: 0.2rem 0.2rem 3px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  transition: background-color 1s;
}

.card h3 {
  color: var(--color-card-projetos);
  font-size: var(--font-size-card-info-title);
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

.card button {
  cursor: pointer;
  padding: 0.7rem 2rem;
  border-radius: var(--border-radius);
  background: var(--background-color-btn-projetos);
  color: #FFFFFF;
  font-size: var(--font-size-card-btn);
  font-family: var(--text-button);
  letter-spacing: 0.15rem;
  text-shadow: 0.1rem 0.2rem 4px rgba(0, 0, 0, 0.4);
  animation: movimentar 1s forwards;
  transition: all 0.4s;
}

.card button:hover {
  filter: drop-shadow(0rem 0rem 1rem #4FE8E4);
}

/*Animações*/
@keyframes expandir {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes movimentar {
  0% {
    transform: translateY(30rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
  }
}

@keyframes botaoPiscar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
    
  }

  100% {
    transform: scale(1);
  }
}

@keyframes girar {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes card-move-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@media screen and (min-width: 1200px) {
  .container-inicio {
    grid-template: ".           header       ."   auto
                   ".           main         ."   1fr
                   ".           footer       ."   auto
                   / 1fr   var(--max-width)  1fr;
  }

  .header nav {
    gap: 60px;
  }
}


@media screen and (min-width: 768px) {
  .header .container-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header nav {
    gap: 35px;
  }

  .projetos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .card {
    width: 30rem;
    height: 20rem;
  }
}

